<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>

    <div class="movies"></div>
</head>

<body>
    <header>
        <div class="container">
            <div class="nav-menu">
                <a href="../images/logo.png" class="icon-logo"></a>
                <h1 class="site-title">Filmoteka</h1>

                <ul class="site-pages">
                    <li class="site-pages__item"><a href="../home.html" class="site-pages__link">Home</a></li>
                    <li class="site-pages__item"><a href="#" class="site-pages__link current-page"
                            style="text-decoration:underline">Library</a></li>
                </ul>
            </div>

            
                <button type="submit" >watched</button>
                <button type="submit" >queue</button>

        </div>
    </header>

    <ul class="gallery"> </ul>
    <script type="module" src="../index.js"></script>
</body>
</html>