
li.card {
    margin: 0;
    transition: transform 250ms var(--timing-function);
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
        transform: scale(1.02);
        cursor: pointer;
    }
}

.card__movie-img {
    border-radius: 5px;
}

.card__movie-title {
    text-transform: uppercase;
}

.card__add-info {
    color: var(--orange-content-color);
}

span.value__vote {
    margin-left: 5px;
}

@media screen and (min-width: 320px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    li.card {
        width: 280px;
    }

    .card__movie-img {
        width: 280px;
        height: 398px;
    }

    .card__movie-title,
    .card__add-info {
        font-size: 12px;
        line-height: 1.1;
    }
}


@media screen and (min-width: 768px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        margin-left: auto;margin-right: auto;
        gap: 32px;
    }

    li.card {
        width: 336px;
    }

    .card__movie-img {
        width: 336px;
        height: 455px;
        margin-bottom: 8px;
    }
}


@media screen and (min-width: 1200px) {

    .gallery {
        column-gap: 16px;
        row-gap: 32px;
        max-width: 1600px;
    }

    .card__movie-title {
        font-size: 20px;
        line-height: 24px;
    }

    .card__movie-title,
    .card__add-info {
        font-size: 16px;
    }
}


@media screen and (min-width: 1920px) {

    .card__movie-title {
        font-size: 20px;
        line-height: 24px;
    }
}