header {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/header-home-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-menu {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 24px;
    height: 24px;
}

.logo__site-title {
    display: none;
}

.site-pages {
    display: flex;
    align-items: center;
}

.site-pages__item {
    font-size: 12px;
    line-height: 1.1;
    text-transform: uppercase;
    transition: all 250ms var(--timing-function);

    &:hover,
    &:focus {
        border-bottom: 1px solid var(--red-content-color);
    }
}

.site-pages__home-link {
    margin-right: 40px;
}

.current-page {
    border-bottom: 1px solid var(--red-content-color);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 40px;
}

input.js-movie-search {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 3px;
    
    &::placeholder {
        color: var(--white-color);
        font-size: 14px;
        line-height: 16px;
    }
}

.js-search-btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.js-search-btn img {
    width: inherit;
}

p.info__text {
    padding-bottom: 44px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--red-content-color);
    opacity: 1;

    transition: opacity 250ms var(--timing-function);

    &.is-hidden {
        opacity: 0;
    }
}

.library-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.library-buttons button {
    padding: 0;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 12px;
    text-transform: uppercase;
    color: var(--white-color);

    transition: border 250ms var(--timing-function), background-color 250ms var(--timing-function);

    &:hover,
    &:focus,
    &.on-focus {
        border: 1px solid var(--orange-content-color);
        background-color: var(--orange-content-color);
    }

    &:last-child {
        margin-left: 32px;
    }

    &.on-focus {
        border: 1px solid var(--orange-content-color);
        background-color: var(--orange-content-color);
    }
}


@media screen and (min-width:320px) {
    
    .js-movie-search {
        width: 280px;
    }

    p.info__text {
        margin-top: 15px;
    }

    .library-buttons {
        margin-top: 60px;
    }

    .library-buttons button {
        width: 130px;
        height: 44px;
    }
}


@media screen and (min-width: 768px) {
    
    .logo__site-title {
        display: block;
        margin-left: 12px;
        font-size: 30px;
        line-height: 35px;
    }

    .js-movie-search {
        width: 336px;
    }

    .library-buttons {
        margin-top: 40px;
    }

    .library-buttons button {
        width: 152px;
    }
}


@media screen and (min-width: 1200px) {

    .js-movie-search {
        width: 394px;
    }

    .logo__img {
        width: 30px;
        height: 30px;
    }

    .site-pages__item {
        font-size: 18px;
    }

    .current-page {
        border-bottom: 2px solid var(--red-content-color);
    }
}


@media screen and (min-width: 1920px) {

    .logo__site-title {
        font-size: 45px;
        letter-spacing: 0.03em;
    }

    p.info__text {
        font-size: 18px;
    }

     input.js-movie-search {
        font-size: 22px;
        letter-spacing: 0.02em;
        
        &::placeholder {
            font-size: 22px;
            letter-spacing: 0.02em;
        }
    }

    .js-search-btn {
        width: 30px;
        height: 30px;
    }

    .js-search-btn img {
        width: 25px;
        height: 25px;
    }

    .library-buttons button {
        width: 170px;
        font-size: 16px;
        letter-spacing: 0.02em;
    }

}